.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.card-content-body {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.card-content-container {
    width: 100%;
    text-align: center;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    max-width: 1280px;
}

.content-text p {
    margin: 0;
    text-align: left;
    width: 100%;
}

.card-header {
    background-color: #2c5369a3;
    color: #ffffff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 10px;
    width: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .card-content-container {
        position: relative;
        top: 0;
        transform: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.card-subheader {
    min-width: max-content;
    font-size: 1.5rem;
    align-self: stretch;
}
