.boats-list {
    display: flex;
}

.boat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.boat img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 300px;
}

.boat img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media (max-width: 950px) {
    .boats-list {
        flex-direction: column;
    }
    .boat img {
        width: 100%;
        height: unset;
    }
}