body, html {
    color: #1f3a4a;
    font: 400 20px/1.8 "Lato", sans-serif;
    margin: 0;
    min-height: 100%;
    position: relative;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    width: 100%;
    overflow-x: hidden;
}

header h1 {
    font-size: 2em;
}

h1, h2, h3, h4, h5 {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
}

.main-header h1 {
    margin-bottom: 20px;
}

.bg-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img-1 {
    background-image: url("../assets/images/background/bg1.jpg");
}

.bg-img-2 {
    background-image: url("../assets/images/background/bg2.jpg");
}

.bg-img-3 {
    background-image: url("../assets/images/background/bg3.jpg");
}

.bg-img-4 {
    background-image: url("../assets/images/background/bg4.jpg");
}

.bg-img-5 {
    background-image: url("../assets/images/background/bg5.jpg");
}

.bg-img-6 {
    background-image: url("../assets/images/background/bg6.jpg");
}

.bsc-logo {
    display: block;
    margin: 20px auto;
    width: 150px;
}

.hidden {
    display: none;
}

@media (max-width: 950px) {
    .bg-img {
        background-attachment: scroll !important;
    }
    .bsc-logo {
        width: 150px;
        display: none;
    }
    .main-header h1 {
        font-size: 3rem;
    }
    .main-header h2 {
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    * {
        font-size: xx-large;
        scroll-snap-align: unset !important;
        scroll-snap-stop: unset !important;
        scroll-behavior: unset !important;
        scroll-snap-type: none !important;
    }
    
    .sponsor-list {
        width: 90%;
    }
    
    .flip-box {
        width: 90%;
    }
}
