body, html {
    color: #777;
    font: 400 15px/1.8 "Lato", sans-serif;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

nav {
    margin: 10px;
}

nav ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav li {
    padding: 0;
    margin: 0;
}

nav a {
    background-color: #2c5369a3;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
}

nav a:hover {
    background-color: rgba(0, 191, 255, 0.582);
}

.bgimg-1 {
    background-image: url("../assets/images/bg1.jpg");
}

.bgimg-2 {
    background-image: url("../assets/images/bg2.jpg");
}

.bgimg-3 {
    background-image: url("../assets/images/bg3.jpg");
}

.bgimg-4 {
    background-image: url("../assets/images/bg4.jpg");
}

.charitable_tax_number {
    font-weight: bold;
}

.volunteer-position-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(400px, 400px));
    justify-content: center;
}

.bsc-logo {
    width: 300px;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media screen and (max-height: 500px) {
    * {
        scroll-snap-align: unset !important;
        scroll-snap-stop: unset !important;
        scroll-behavior: unset !important;
        scroll-snap-type: none !important;
    }
}